<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Essa foi uma tentativa de fazer um gerenciador de projetos em ruby on rails, por enquanto só a parte de login funciona, ainda não conseguimos adicionar novos projetos.
  <br>
  <br>
  Realizado por Thiago de Lima Vasconcelos 
</p>